* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {

    font-family: "Nova Round", system-ui;
    background: linear-gradient(to right, rgb(77, 75, 75), rgb(240, 234, 234));
}

.header {
    background: linear-gradient(to right, rgb(77, 75, 75), rgb(240, 234, 234));
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;

}

.btn-header {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;

}

.btn-header:hover {
    background: rgb(221, 75, 75);
    color: white;
    transform: translateY(-5px);
    text-decoration: underline;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.tabla {
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #a7a4bb;
    border: 1px solid lightslategray;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.tabla th{
    text-align: center;
    padding: 20px;
}
.tabla td .btn{
    background-color: aqua;
    font-weight: 500;
    border-radius: 10px;
}
.tabla td{
    text-align: center;
    padding: 5px 20px;
}
#marquee{
    font-size: 30px;
    font-weight: 500;
}
.tabla td .btn:hover{
    background-color: red;
    color: white;
    transition: .5s;
}
#index{
    font-size: 25px;
    font-weight: 500;
    color: blueviolet;
}
#index:hover{
    color: red;
    text-decoration: underline;
    transition: .5s;
}
